{
    "???": {
        "license": "CC BY-NC 4.0（代码 MIT）",
        "attribution": "沈锎"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "纪郅炀"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "杜启嵘"
    }
}