{
    "???": {
        "license": "CC BY-NC 4.0（代码 MIT）",
        "attribution": "沈锎"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "纪郅炀"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "杜启嵘"
    },
    "???": {
        "license": "CC BY 4.0",
        "attribution": "唐凌"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "仇志轩"
    },
    "???": {
        "license": "CC BY-SA 4.0（代码 MIT）",
        "attribution": "离.nvme0n1p2"
    },
    "???": {
        "license": "CC BY-NC 4.0",
        "attribution": "fickle"
    },
    "???": {
        "license": "CC BY 4.0",
        "attribution": "爱吃糖的猫"
    },
    "???": {
        "license":"CC BY 4.0",
        "attribution": "Akashi（助教）"
    },
    "???": {
        "license": "CC BY-SA 4.0",
        "attribution": "杨振炜（助教）"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "黄星阳（助教）"
    },
    "???": {
        "license": "CC BY-SA 4.0",
        "attribution": "戴波（助教）"
    },
    "???": {
        "license": "CC BY-SA 4.0（代码 MIT）",
        "attribution": "陈睿正"
    },
    "???": {
        "license": "CC BY 4.0",
        "attribution": "彭欣阳"
    }
}