// sub        $1 $2:         -$1 +$2
// sub.re     $1 $2: [regex] -$1 +$2
// img        $1 $2:         -$1 +/images/co-discussions/{id}/$2
// img.re     $1   ：[regex] -$1 +/images/co-discussions/{id}/\\1
// arc        $1 $2:         -$1 +$1<small>（[存档]($2)）</small>
// arc_raw    $1 $2:         -$1 +$1<small>（<a target="_blank" rel="noopener" href="$2">存档</a>）</small>
//                   注：这个函数适用于 HTML 块（Markdown 链接标记在其中不会被解析）。此处使用的是 Hexo 的输出，请将其替换为你使用的引擎的输出。
// arc_need   $1   :         -$1 +$1<small>（需要存档）</small>
// arc_noneed $1   :         -$1 +$1<small>（无需存档）</small>
// arc_lost   $1   :         -$1 +$1<small>（已丢失）</small>
// TODO:
// break.re   $1   : [regex] -($1)\\n($2)\\n($3)... +\\1<br>\\2<br>\\3...<!-- break(COUNT) -->
{
    "61": {
        "replace": [
            // 图片换源
            [ "img", "/public/22371207/b53ca091-aeee-42da-b42c-00147db06be6/image.png", "image--1.png" ],
            [ "img", "/public/22371207/58f9e9d3-78b2-4b00-a02f-ac7b8bb23462/image.png", "image--2.png" ],
            [ "img", "/public/22371207/dfcd2f61-609f-4801-b68e-7289588f7bbf/image.png", "image--3.png" ],
            // 资料存档
            [ "arc", "[https://bhpan.buaa.edu.cn/link/AAB1F52516010E4FD783EDCEC1340480BB](https://bhpan.buaa.edu.cn/link/AAB1F52516010E4FD783EDCEC1340480BB)", "/images/os-discussions/61/mos_env.tar.gz" ],
            // 排版错误
            [ "sub", "**停止容器**", "**停止容器**<br>" ],
            [ "sub", "[https://bhpan.buaa.edu.cn/link/AAB1F52516010E4FD783EDCEC1340480BB](https://bhpan.buaa.edu.cn/link/AAB1F52516010E4FD783EDCEC1340480BB)", "<https://bhpan.buaa.edu.cn/link/AAB1F52516010E4FD783EDCEC1340480BB>" ], // TODO This is a bug in pandoc
            [ "sub", "<你的学号>。", "<你的学号>。<br>" ]
        ]
    },
    "107": {
        "note": "启用汇编级调试的命令应为 `set disassemble-next-line on`。",
        "replace": [
            // 图片换源
            [ "img", "/public/22373362/f27b7389-106f-4378-ac26-58683d64601b/image.png", "image--1.png" ],
            [ "img", "/public/22373362/533c072b-cdca-43c8-90f5-5730c834a789/image.png", "image--2.png" ],
            [ "img.re", "/public/22373362/[\\w-]+/([\\w.-]+)" ]
        ]
    },
    "114": {
        "ignore": true
    },
    "116": {
        "ignore": true
    },
    "118": {
        "replace": [
            // 图片换源
            [ "img.re", "/public/22373080/[\\w-]+/([\\w.-]+)" ]
        ]
    },
    "132": {
        "ignore": true
    },
    "138": {
        "note": "周伯阳同学已同意转载本帖内容，并保留所有权利。",
        "replace": [
            // 图片换源
            [ "img.re", "/public/21373231/[\\w-]+/([\\w.-]+)" ]
        ]
    },
    "147": {
        "replace": [ /* Nothing to replace */ ]
    },
    "150": {
        "replace": [
            // 图片换源
            [ "img", "/public/22373213/7cde75f9-74b1-4ab8-9c92-7bb01d629b41/image.png", "image--1.png" ],
            [ "img", "/public/20373209/4ece0fb8-4402-424e-bd6f-5f3e4251c23e/image.png", "image--2.png" ],
            [ "img.re", "/public/22373213/[\\w-]+/([\\w.-]+)" ],
            // 排版错误
            [ "sub", "tmux！**", "tmux！**<br>" ]
        ]
    },
    "166": {
        "replace": [
            // 图片换源
            [ "img.re", "/public/20374249/[\\w-]+/([\\w.-]+)" ]
        ]
    },
    "208": {
        "replace": [
            // 图片换源
            [ "img", "/public/21375049/d77cd450-38c7-4e82-a0c7-4c4e4fdc947d/image.png", "image.png" ]
        ]
    },
    "218": {
        "replace": [
            // 排版错误
            [ "sub.re", "(在做Exercise.*)\\n(.*)\\n(.*)\\n(.*)\\n(.*)$", "\\1<br>\\n\\2<br>\\n\\3<br>\\n\\4<br>\\n\\5" ],
            [ "sub.re", "(我应该明白了.*)\\n(.*)", "\\1<br>\\n\\2" ]
        ]
    },
    "250": {
        "replace": [
            // 图片换源
            [ "img", "https://os.buaa.edu.cn/tutorial-embedded/2024%E6%98%A5-%E6%93%8D%E4%BD%9C%E7%B3%BB%E7%BB%9F/%E9%A2%84%E4%B9%A0%E6%95%99%E7%A8%8B/assets/mips-stackframe.png", "mips-stackframe.png" ],
            [ "img.re", "/public/22371207/[\\w-]+/([\\w.-]+)" ]
        ]
    },
    "264": {
        "replace": [
            // 资料存档
            [ "arc_lost", "[测试程序](https://gist.github.com/Qin-shihuang/5b32acd3d55e6aa2e5c065f25fe2d086)" ],
            // 排版错误
            [ "sub", "更新——————", "更新——————<br>" ],
            [ "sub", "澄清一下。", "澄清一下。<br>" ],
            [ "sub", "~~~(唉其实", "~~(唉其实" ],
            [ "sub", "\n\nhttps://man7.org/linux/man-pages/man7/signal.7.html", "\n\nhttps:\\//man7.org/linux/man-pages/man7/signal.7.html" ], // 讨论区没有 autolink，所以我们这里 escape 一下
            [ "sub.re", "(请问老师.*)\\n(.*)", "\\1<br>\\n\\2" ],
            [ "sub", "return 0;\n}", "return 0;\n}\n```" ]
        ]
    },
    "275": {
        "replace": [
            // 图片换源
            [ "img", "/public/22371494/aa87dd78-9760-47bf-924f-c3cef9022166/image.png", "image--1.png" ],
            [ "img", "/public/22371494/8cd9c723-dbae-4d9c-a39f-7d14f63cbdac/image.png", "image--2.png" ],
            [ "img", "https://os.buaa.edu.cn/public/22371494/bde2a068-0126-49d0-99e0-b0f87183846d/image.png", "image--3.png" ],
            [ "img", "/public/22371494/bde2a068-0126-49d0-99e0-b0f87183846d/image.png", "image--3.png" ], // 这张图片出现了两遍
            [ "img", "/public/22371494/4315658f-bec1-461b-bb65-fd91f6eab375/image.png", "image--4.png" ],
            [ "img", "/public/21371110/0d75bf3c-b3bc-4d18-bf9c-0268b33ca904/image.png", "image--5.png" ],
            [ "img", "/public/22371212/b190e45d-3f66-4653-9b21-aa58387d03e4/image.png", "image--6.png" ],
            [ "img", "/public/22371212/44538718-c293-4818-8d9b-e61777b4f33a/image.png", "image--7.png" ],
            // 排版错误
            [ "sub.re", "(这个任务.*)\\n(.*)", "\\1<br>\\n\\2" ],
            [ "sub.re", "(那这样的话.*)\\n(我正试图.*)", "\\1<br>\\n\\2" ],
            [ "sub.re", "(万分感谢.*)\\n(.*)\\n(.*)", "\\1<br>\\n\\2<br>\\n\\3" ],
            [ "sub.re", "(请问现在.*)\\n(.*)\\n(.*)\\n(.*)\\n(.*)\\n(.*)", "\\1<br>\\n\\2<br>\\n\\3<br>\\n\\4<br>\\n\\5<br>\\n\\6" ],
            [ "sub.re", "(应该不是.*)\\n(.*)", "\\1<br>\\n\\2" ],
            [ "sub", "真的没有问题吗", "真的没有问题吗\n```" ]
        ]
    },
    "281": {
        "replace": [
            // 排版错误
            [ "sub.re", "(> `SIGINT`.*)\\n(.*)", "\\1<br>\\n\\2" ]
        ]
    },
    "289": {
        "replace": [
            // 排版错误
            [ "sub.re", "(神！！！)\\n(.*)\\n(.*)", "\\1<br>\\n\\2<br>\\n\\3" ],
            [ "sub.re", "(神！)\\n(.*)", "\\1<br>\\n\\2" ]
        ]
    },
    "295": {
        "replace": [
            // 图片换源
            [ "img", "/public/21374067/0c45b545-3c20-47b4-9b2c-306f7be6e167/image.png", "image.png" ]
        ]
    },
    "296": {
        "replace": [
            // 排版错误
            [ "sub", "```#include", "```\n#include" ],
            [ "sub.re", "(我过了)\\n(.*)\\n(.*)", "\\1<br>\\2<br>\\3" ]
        ]
    },
    "302": {
        "replace": [
            // 图片换源
            [ "img", "/public/22371389/26662b11-a37c-4b94-8e00-d893eeffb4cc/image.png", "image--1.png" ],
            [ "img", "/public/22371389/2ef411d4-5504-475f-ad6c-6587691da217/image.png", "image--2.png" ],
            [ "img", "/public/22371389/4892e264-fffc-4b20-bce5-b7fc3597a3d4/image.png", "image--3.png" ],
            [ "img", "/public/22371389/e6048383-0e95-4a7c-946d-c885665af742/image.png", "image--4.png" ],
            [ "img", "/public/22371389/0626d4a4-2800-44d5-ba29-4a67c7af75c5/image.png", "image--5.png" ],
            [ "img", "/public/22371389/33d83dd0-eff2-4346-9bce-390c2f865caf/image.png", "image--6.png" ],
            [ "img", "/public/22371389/acdf7466-8f8f-4b6d-beeb-c4971ded00ef/image.png", "image--7.png" ],
            // 排版错误
            [ "sub.re", "(我过了.*)\\n(.*)\\n(.*)", "\\1<br>\\2<br>\\3" ],
            [ "sub.re", "(发现大家.*)\\n(.*)", "\\1<br>\\2" ]
        ]
    },
    "304": {
        "replace": [
            // 排版错误
            [ "sub.re", "(个人拙见.*)\\n(.*)\\n(.*)", "\\1<br>\\2<br>\\3" ],
            [ "sub.re", "(首先您提供的.*)\\n(.*)", "\\1<br>\\2" ]
        ]
    },
    "305": {
        "replace": [
            // 图片换源
            [ "img", "/public/22371494/6f8bdb46-50ae-49fd-bd17-07c0b648e020/image.png", "image.png" ],
            // 排版错误
            [ "sub.re", "(1号测试点.*)\\n(.*)", "\\1<br>\\2" ],
            [ "sub.re", "(请检查libmain.*)\\n(.*)\\n(.*)", "{% raw %}\\1<br>\\2<br>\\3{% endraw %}" ] // Disable Nunjucks
        ]
    },
    "308": {
        "replace": [
            // 图片换源
            [ "img", "https://lonelywatch-1306651324.cos.ap-beijing.myqcloud.com/1%20(2).png", "1%20(2).png" ],
            [ "img", "/public/21371110/31d74c25-bdf9-4d80-8835-70d81d4cb19a/fd8861ce68fe4ccdafa590637e8b27b.png", "fd8861ce68fe4ccdafa590637e8b27b.png" ],
            // 资料存档
            [ "arc", "[「Sigaction 挑战性任务」为什么进程控制块会变成预期之外的值？](https://os.buaa.edu.cn/discussion/289)", "289" ]
        ]
    },
    "309": {
        "replace": [ /* Nothing to replace */ ]
    },
    "311": {
        "replace": [ /* Nothing to replace */ ]
    },
    "314": {
        "replace": [
            // 资料存档
            [ "arc", "<https://os.buaa.edu.cn/discussion/296>", "296" ],
            [ "arc", "<https://os.buaa.edu.cn/discussion/289>", "289" ],
            [ "arc_noneed", "<https://os.buaa.edu.cn/discussion/315>" ],
            [ "arc", "<https://os.buaa.edu.cn/discussion/304>", "304" ],
            // 排版错误
            [ "sub.re", "(对于sigaction.*)\\n(.*)\\n(.*)\\n", "\\1<br>\\n\\2<br>\\n\\3\\n" ],
            [ "sub.re", "(\\*\\*6\\*\\*\\.)\\n(.*)\\n(.*)\\n(.*)\\n", "\\1<br>\\n\\2<br>\\n\\3<br>\\n\\4\\n" ],
            [ "sub.re", "(\\*\\*(?:1|3|5|9)\\*\\*\\.)\\n(.*)\\n(.*)\\n", "\\1<br>\\n\\2<br>\\n\\3\\n" ],
            [ "sub.re", "(\\*\\*(?:2|4|7|8|10|11)\\*\\*\\.)\\n(.*)\\n", "\\1<br>\\n\\2\\n" ],
            [ "sub.re", "(有两种.*)\\n(.*)\\n(.*)\\n", "\\1<br>\\n\\2<br>\\n\\3\\n" ],
            [ "sub.re", "(我的bug.*)\\n(.*)", "\\1<br>\\n\\2" ]
        ]
    },
    "318": {
        "replace": [ /* Nothing to replace */ ]
    },
    "326": {
        "replace": [ /* Nothing to replace */ ]
    },
    "327": {
        "replace": [
            // 排版错误
            [ "sub.re", "(6\\.24)\\n(.*)\\n(.*)\\n(.*)\\n(.*)\\n(.*)$", "\\1<br>\\n\\2<br>\\n\\3<br>\\n\\4<br>\\n\\5<br>\\n\\6" ],
            [ "sub.re", "(我现在是.*)\\n(.*)\\n(.*)\\n", "\\1<br>\\n\\2<br>\\n\\3\\n" ],
            [ "sub.re", "(问题已解决)\\n(.*)\\n(.*)\\n(.*)\\n(.*)", "\\1<br>\\n\\2<br>\\n\\3<br>\\n\\4<br>\\n\\5" ],
            [ "sub.re", "(SIGKILL不可.*)\\n(.*)\\n", "\\1<br>\\n\\2\\n" ]
        ]
    }
}