{
    "???": {
        "license": "保留所有权利",
        "attribution": "snow"
    },
    "???": {
        "license": "CC BY-NC 4.0",
        "attribution": "沈锎（代码 MIT）"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "FyVoid"
    },
    "???": {
        "license": "CC BY-NC 4.0",
        "attribution": "Ap0stader（贾同学）"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "lhz"
    },
    "???": {
        "license": "CC BY-NC-ND 4.0",
        "attribution": "fysszlr"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "陈子祥"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "pigKiller"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "nyx"
    },
    "???": {
        "license": "CC BY-SA 4.0（代码 MIT）",
        "attribution": "离.nvme0n1p2"
    },
    "???": {
        "license": "保留所有权利（代码 MIT）",
        "attribution": "Shae"
    },
    "???": {
        "license": "保留所有权利（代码 MIT）",
        "attribution": "alkaid"
    },
    "???": {
        "license": "CC BY-NC 4.0（代码 BSD）",
        "attribution": "hanz"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "廖鹏飞"
    },
    "???": {
        "license": "CC BY-SA 4.0（代码 MIT）",
        "attribution": "陈睿正"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "cuzn"
    },
    "???": {
        "license": "CC BY 4.0",
        "attribution": "Carbon"
    },
    "???": {
        "license": "CC BY-NC 4.0",
        "attribution": "fickle"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "王嘉宁"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "Charley"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "何宬熠"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "吴旭飞"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "LOSS"
    },
    "???": {
        "license": "CC BY 4.0",
        "attribution": "林语"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "孙莫然"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "潜伏"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "yyb"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "朱雄伟"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "张子豪"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "刘一川"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "灰袍甘道夫"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "李同学"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "秦子奇"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "瑜瑜不吃鱼鱼"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "qzx"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "SaBaH"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "郝梓翔"
    },
    "???": {
        "license": "CC0",
        "attribution": "doc（助教）"
    },
    "???": {
        "license": "CC BY-ND 4.0",
        "attribution": "ScottMa（助教）"
    },
    "???": {
        "license": "CC BY-ND 4.0",
        "attribution": "Coooookie（助教）"
    },
    "???": {
        "license": "CC BY-NC-SA 4.0",
        "attribution": "ForeverYolo（助教）"
    },
    "???": {
        "license": "CC0",
        "attribution": "CookedBear（助教）"
    },
    "???": {
        "license": "保留所有权利",
        "attribution": "Xu（助教）"
    },
    "???": { // 注意第二个字
        "license": "保留所有权利",
        "attribution": "邱小瑄"
    }
}