{
    // FyVoid
    "905": "这篇文章即将在作者的博客上发布，敬请期待。",
    "1075": "这篇文章即将在作者的博客上发布，敬请期待。",
    // 沈锎
    "959": "这篇文章也在[作者的博客](https://swkfk.top/2023/09/28/CRC-%E6%A0%A1%E9%AA%8C%E7%A0%81%E8%AE%A1%E7%AE%97%E6%97%B6%E4%B8%BA%E4%BD%95%E8%A6%81%E8%A1%A5-0-%E5%8F%8A%E7%9B%B8%E5%85%B3%E5%86%85%E5%AE%B9%E7%9A%84%E7%AE%80%E5%8D%95%E6%8E%A2%E7%B4%A2/)上发布，协议为 CC BY-NC 4.0。",
    "1102": "这篇文章也在[作者的博客](https://swkfk.top/2023/11/07/%E3%80%90CO%E3%80%91%E5%9F%BA%E4%BA%8E%E4%BB%A3%E7%A0%81%E5%9D%97%E7%9A%84%E6%95%B0%E6%8D%AE%E7%94%9F%E6%88%90%E5%99%A8/)上发布，协议为 CC BY-NC 4.0。",
    // Ap0stader（贾同学）
    "977": "这篇文章即将在作者的博客上发布，敬请期待。",
    "999": "这篇文章即将在作者的博客上发布，敬请期待。",
    "1040": "这篇文章即将在作者的博客上发布，敬请期待。",
    // fysszlr
    "983": "这篇文章也在[作者的博客](https://www.fysszlr.top/2023/10/10/CO-P0%E4%B8%8A%E6%9C%BA%E8%AE%B0%E5%BD%95(%E5%AE%8C%E6%95%B4%E7%89%88)/)上发布，协议为 CC BY-NC-ND 4.0。",
    "1013": "这篇文章也在[作者的博客](https://www.fysszlr.top/2023/10/16/CO-P1%E4%B8%8A%E6%9C%BA%E8%AE%B0%E5%BD%95/)上发布，协议为 CC BY-NC-ND 4.0。",
    "1045": "这篇文章也在[作者的博客](https://www.fysszlr.top/2023/10/23/CO-P2%E4%B8%8A%E6%9C%BA%E8%AE%B0%E5%BD%95/)上发布，协议为 CC BY-NC-ND 4.0。",
    // Xu（助教）
    "1059": "课上不提供该工具，需要自己掌握识别机器码的方法。"
}