// sub        $1 $2:         -$1 +$2
// sub.re     $1 $2: [regex] -$1 +$2
// img        $1 $2:         -$1 +/images/co-discussions/{id}/$2
// img.re     $1   ：[regex] -$1 +/images/co-discussions/{id}/\\1
// arc        $1 $2:         -$1 +$1<small>（[存档]($2)）</small>
// arc_raw    $1 $2:         -$1 +$1<small>（<a target="_blank" rel="noopener" href="$2">存档</a>）</small>
//                   注：这个函数适用于 HTML 块（Markdown 链接标记在其中不会被解析）。此处使用的是 Hexo 的输出，请将其替换为你使用的引擎的输出。
// arc_need   $1   :         -$1 +$1<small>（需要存档）</small>
// arc_noneed $1   :         -$1 +$1<small>（无需存档）</small>
{
    "854": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22371041/[\\w-]+/([\\w.-]+)" ]
    ],
    "886": [
        // 图片换源
        [ "img", "/assets/cscore-image/22373080/fce648c0-6d95-463b-a614-795c939ed3a5/image.png", "image--1.png" ],
        [ "img", "/assets/cscore-image/22373080/09a4038f-ae77-4115-a196-9c9ced773eed/image.png", "image--2.png" ],
        [ "img", "/assets/cscore-image/22373080/50451728-204a-4eca-9ed7-203487f8d8e2/image.png", "image--3.png" ],
        [ "img", "/assets/cscore-image/22373080/5b85cf03-b53f-4766-81ce-0895d149609d/image.png", "image--4.png" ],
        [ "img", "/assets/cscore-image/22373080/c4ccb9fb-2021-4160-af98-dd333273a7c5/image.png", "image--5.png" ],
        [ "img", "/assets/cscore-image/22373080/4c027722-5d38-4d50-a3fa-6f5dde6b01ca/image.png", "image--6.png" ],
        [ "img", "/assets/cscore-image/22373080/d6ab666e-94c2-4f1e-bc17-788da4258396/image.png", "image--7.png" ],
        [ "img", "/assets/cscore-image/22373080/32faae10-22d9-447e-879a-53556e7c75a7/image.png", "image--8.png" ],
        [ "img", "/assets/cscore-image/22373080/135dcbaa-ad8e-48cf-acfd-9e7c1811b58a/image.png", "image--9.png" ],
        [ "img", "/assets/cscore-image/22373080/a6a9601d-9d2a-4b60-8bfe-0342e50d8967/image.png", "image--10.png" ],
        // 资料存档
        [ "arc", "https://blog.csdn.net/weixin_39750496/article/details/104520683", "http://archive.today/7dRGo" ],
        // 排版错误
        [ "sub", "ヾ(*′▽‘*)ﾉ", "ヾ(\\*′▽‘\\*)ﾉ" ]
    ],
    "905": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/21231042/[\\w-]+/([\\w.-]+)" ],
        [ "img" , "/assets/cscore-image/72066004/a5ad480e-bbd5-4242-853e-1276dbca35f9/Screenshot_2023-10-12_at_8.52.43\u202FPM.png", "Screenshot_2023-10-12_at_8.52.43\u202FPM.png" ], // 注意空格
        // 资料存档
        [ "arc", "https://zhuanlan.zhihu.com/p/146001246", "https://archive.today/wOoPz" ],
        // 排版错误
        [ "sub", "# 在src目录下进行尝试", "# 在src目录下进行尝试\n```" ]
    ],
    "951": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/21373212/[\\w-]+/([\\w.-]+)" ]
    ],
    "959": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22373080/[\\w-]+/([\\w.-]+)" ],
        // 资料存档
        [ "arc", "https://segmentfault.com/a/1190000018094567", "https://archive.today/8bXXO" ]
    ],
    "977": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22371345/[\\w-]+/([\\w.-]+)" ],
        // 排版错误
        [ "sub", "**并且将DMX的Three-state属性设置为Yes，Disabled Output属性设置为Floating。**", "<strong>并且将DMX的Three-state属性设置为Yes，Disabled Output属性设置为Floating。</strong>" ],
        [ "sub", "***并且将Deco的Three-state属性设置为No，Disabled Output属性设置为Zero。**", "<strong>并且将Deco的Three-state属性设置为No，Disabled Output属性设置为Zero。</strong>" ] // 已询问作者，开头应该是两个 *。
    ],
    "982": [
        // 图片换源
        [ "img.re", "https://pigkiller-011955-1319328397\\.cos\\.ap-beijing\\.myqcloud\\.com/img/([\\w.-]+)" ],
        [ "img", "/assets/cscore-image/wangyufan/fe845cc3-2efa-4092-891b-0dc855ab9052/98fbda373adc1cb1883ddfca8bcf55b.png", "98fbda373adc1cb1883ddfca8bcf55b.png" ]
    ],
    "983": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22373425/[\\w-]+/([\\w.-]+)" ],
        // 排版错误
        [ "sub", "<br>", "<!-- br -->" ]
    ],
    "999": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22371345/[\\w-]+/([\\w.-]+)" ]
    ],
    "1002": [
        // 图片换源
        [ "img", "/assets/cscore-image/22373095/000b0951-bc83-46ec-9e07-a93f070da0cd/image.png", "image.png" ],
        // 排版错误
        [ "sub.re", "==(.*?)==", "<mark>\\1</mark>" ]
    ],
    "1013": [],
    "1016": [
        // 排版错误
        [ "sub", "**`for`循环实现**", "<strong>`for`循环实现</strong>" ]
    ],
    "1020": [
        // 图片换源
        [ "img", "/assets/cscore-image/22371305/be210ba0-e47d-478f-857e-fbe5016fe7ab/bc775293193d949ab80fb15a059bb36.jpg", "bc775293193d949ab80fb15a059bb36.jpg" ],
        // 排版错误
        [ "sub", "|颜色状态|编码|", "\n|颜色状态|编码|" ],
        [ "sub", "|掌控领域|编码|check|", "\n|掌控领域|编码|check|" ],
        [ "sub.re", "~(i|1-5|i-1|i\\+1|6)~", "<sub>\\1</sub>" ]
    ],
    "1025": [
        // 图片换源
        [ "img", "/assets/cscore-image/22373017/7fddfb56-2725-4853-a687-9927439490f4/屏幕截图_2023-10-20_091348.png", "屏幕截图_2023-10-20_091348.png" ],
        // 资料存档
        [ "arc", "https://bhpan.buaa.edu.cn/link/AA3C6FD01AE6A94651BF709B162D12BEFE", "/images/co-discussions/1025/MARS_mod.zip" ]
    ],
    "1040": [
        // 排版错误
        [ "sub", "    | 版本 | 计算60!的步数 |", "\n    | 版本 | 计算60!的步数 |" ],
        [ "sub", "    | 计算数字 | 结果位数 |  步数  |", "\n    | 计算数字 | 结果位数 |  步数  |" ]
    ],
    "1045": [],
    "1059": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/xujunhao/[\\w-]+/([\\w.-]+)" ],
        // 资料存档
        [ "arc_raw", "<a href=\"https://bhpan.buaa.edu.cn/link/AA95A8A03ADEC843C88C15EA33D149C54D\" rel=\"noreferrer\" target=\"_blank\">BUAA-CO-P3-tool.jar</a>", "/images/co-discussions/1059/BUAA-CO-P3-tool.jar" ] // 此处使用原始 HTML
    ],
    "1061": [
        // 图片换源
        [ "img", "/assets/cscore-image/22371207/6d2f1ef9-1929-4db9-9ec0-915871db36d4/image.png", "image--1.png" ],
        [ "img", "/assets/cscore-image/22371207/3cbc9e24-f22c-4c7f-85c5-43ec162f5f2f/image.png", "image--2.png" ],
        [ "img", "/assets/cscore-image/22371207/617b71ad-aa00-4905-b15b-96fcbdba8620/image.png", "image--3.png" ],
        [ "img", "/assets/cscore-image/22371207/f23c9619-e826-4260-af84-8fda24d2af50/image.png", "image--4.png" ],
        [ "img", "/assets/cscore-image/22371207/4fc76d5f-d272-4d6c-a853-39fe690919df/image.png", "image--5.png" ],
        // 资料存档
        [ "arc_noneed", "https://bhpan.buaa.edu.cn/link/AA142FF068D230494AB6CF02281EEFE6FF" ]
    ],
    "1064": [
        // 资料存档
        [ "arc", "https://bhpan.buaa.edu.cn/link/AA2B7CEECAD915432EA982A2509B60A861", "/images/co-discussions/1064/Mars_with_record_headless.jar" ],
        // 备注
        [ "sub", "https://bhpan.buaa.edu.cn/link/AA2B7CEECAD915432EA982A2509B60A861<small>（[存档](/images/co-discussions/1064/Mars_with_record_headless.jar)）</small>", "https://bhpan.buaa.edu.cn/link/AA2B7CEECAD915432EA982A2509B60A861<small>（[存档](/images/co-discussions/1064/Mars_with_record_headless.jar)）</small>（[GitHub Releases](https://github.com/swkfk/Mars-with-BUAA-CO-extension/releases)）" ]
    ],
    "1066": [
        // 资料存档
        [ "arc_noneed", "[文件名：mips ans hexCode generator.py<br/>有效期限：2023-11-28 17:46](https://bhpan.buaa.edu.cn/link/AA2D754D512F284FC4A349A0D4101EC880)" ]
    ],
    "1070": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22371132/[\\w-]+/([\\w.-]+)" ],
        // 排版错误
        [ "sub", "✧*｡ (ˊᗜˋ*) ✧*", "✧\\*｡ (ˊᗜˋ\\*) ✧\\*" ]
    ],
    "1075": [
        // 图片换源
        [ "img", "./asset/tester.drawio.png", "tester.drawio.png" ],
        // 排版错误
        // https://github.com/next-theme/hexo-theme-next/discussions/765
        [ "sub", "\\$t, \\$s, \\$a, \\$v", "\\\\&#36;t, \\\\&#36;s, \\\\&#36;a, \\\\&#36;v" ],
        [ "sub", "$t0-\\$t9", "\\\\&#36;t0-\\\\&#36;t9" ],
        [ "sub", "\\$s0-\\$s7", "\\\\&#36;s0-\\\\&#36;s7" ],
        [ "sub", "$a0-\\$a3", "\\\\&#36;a0-\\\\&#36;a3" ],
        [ "sub", "\\$v0 or \\$v1", "\\\\&#36;v0 or \\\\&#36;v1" ],
        [ "sub", "offset($t0)", "offset(\\\\&#36;t0)" ],
        [ "sub", "offset+\\$t0", "offset+\\\\&#36;t0" ],
        [ "sub", "0(\\$t0)", "0(\\\\&#36;t0)" ]
    ],
    "1098": [],
    "1102": [
        // 资料存档
        [ "arc", "[压缩包链接](https://swkfk.top/assets/DataSpawner.zip)", "/images/co-discussions/1102/DataSpawner.zip" ]
    ],
    "1145": [
        // 图片换源
        [ "img", "/assets/cscore-image/21375212/fb527905-9e1d-49cc-911c-5e30c6aeb4ef/image.png", "image--1.png" ],
        [ "img", "/assets/cscore-image/21375212/d616d58a-5474-42eb-807d-9c211971e074/image.png", "image--2.png" ],
        [ "img", "/assets/cscore-image/21375212/f107bcfd-26dc-48f1-a84c-fd3979b4df6c/image.png", "image--3.png" ],
        [ "img", "/assets/cscore-image/21375212/e7ca1435-f39a-42d3-aa62-3d272f1dbe8f/image.png", "image--4.png" ],
        [ "img", "/assets/cscore-image/22371011/1fdbb9a1-e729-48a6-8a6e-0b1ac804bd95/微信图片_20231126182256.jpg", "微信图片_20231126182256.jpg" ],
        [ "img", "/assets/cscore-image/22371355/98b2595a-9a03-4f46-95a3-f3823bc1f504/套六年.jpg", "套六年.jpg" ],
        [ "img", "https://pigkiller-011955-1319328397.cos.ap-beijing.myqcloud.com/img/202311181426121.png", "202311181426121.png" ],
        [ "img", "/assets/cscore-image/21375212/7bf86a4e-d49f-4c4c-b058-2d3140e4ec91/image.png", "image--5.png" ],
        [ "img", "/assets/cscore-image/22371213/0e966649-8f4f-4274-a685-6e7f415dcf22/image.png", "image--6.png" ],
        [ "img", "/assets/cscore-image/22371213/9b380339-c29b-498c-b774-58ce811ce7bc/image.png", "image--7.png" ],
        [ "img", "/assets/cscore-image/22371213/a248a691-949b-4a0c-96e0-3c8764b8bb3b/image.png", "image--8.png" ],
        [ "img", "/assets/cscore-image/22371213/c8113487-d020-48c1-8c80-5aad0ee7c68a/image.png", "image--9.png" ],
        [ "img", "/assets/cscore-image/21375212/2e877400-773f-46ef-ac01-c7c279aca249/image.png", "image--10.png" ],
        [ "img", "/assets/cscore-image/21375212/76ecc5f4-f80d-4bf6-9f96-e7d24b891611/image.png", "image--11.png" ],
        [ "img", "/assets/cscore-image/21375212/09a7e796-029c-4fcb-a468-a3b4f454abb3/image.png", "image--12.png" ]
    ],
    "1188": [
        // 图片换源
        [ "img", "/assets/cscore-image/22371213/85e13306-bebc-45ef-b538-80fb5875f719/image.png", "image--1.png" ],
        [ "img", "/assets/cscore-image/22371213/0220a9aa-1cc9-4417-9ce9-5cbeb2692deb/image.png", "image--2.png" ],
        [ "img", "/assets/cscore-image/22371213/b2b8ebed-af37-4048-96e0-4ed81216e94d/image.png", "image--3.png" ],
        // 资料存档
        [ "arc", "https://bhpan.buaa.edu.cn/link/AACFE8D33B25DF46A2A56B9C14B8064CC5", "/images/co-discussions/1188/Mars_ContextMenu_Extension.zip" ]
    ],
    "1199": [
        // 图片换源
        [ "img", "/assets/cscore-image/22371144/4161c2f3-e310-42ab-bdbd-7272e31e5a75/Q.png", "Q.png" ],
        // 资料存档
        [ "arc", "[coKiller5.1](https://bhpan.buaa.edu.cn/link/AAC91BB51E0E5C477399C4F661F6A0AAF1)", "/images/co-discussions/1199/coKiller5.1.zip" ],
        [ "arc", "[dataMaker.jar](https://bhpan.buaa.edu.cn/link/AA5FA276F35BB647378A8B68043A3E6D2A)", "/images/co-discussions/1199/dataMaker.jar" ],
        [ "arc", "[评测机python源码](https://bhpan.buaa.edu.cn/link/AA61F74ED70E3A4083A36EF56F21C25754)", "/images/co-discussions/1199/评测机python源码.zip" ],
        [ "arc", "[如何将java文件打包为jar](https://blog.csdn.net/qq_42902997/article/details/120381776)", "https://archive.today/vIcSG" ],
        [ "arc", "[如何使用pyinstaller将py文件打包为exe](https://blog.csdn.net/m0_67093160/article/details/131037622)", "https://archive.today/4ze7y" ],
        [ "arc", "[Pyinstaller的Spec文件用法](https://blog.csdn.net/tangfreeze/article/details/112240342)", "https://archive.today/XeQzB" ]
    ],
    "1205": [
        // 图片换源
        [ "img.re", "/assets/cscore-image/22371101/[\\w-]+/([\\w.-]+)" ]
    ],
    "1211": []
}