.post-info {
    margin-top: -50px;
    text-align: center;
}

.reply-separator {
    border: 1px solid #ddd;
    height: 0;
    margin: 10px 0;
}

.reply .reply-header {
    font-size: smaller;
}

.reply .reply-text {
    clear: both;
    padding: 10px;
}

.reply .reply-footer {
    font-size: smaller;
}

.reply .reply-footer .reply-vote {
    float: right;
}
